
.header {
    background-color: black;
    height: 80px;
    /* color: #ffffff; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4rem;
  }
  .header, ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    color: #ffffff;
    list-style: none;
  };